.header {
    padding: 2vh 2vw;
    margin: 5px 50px;
    animation-name: startDropAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;

    a {
        text-decoration: none;
        color: white;
        font-size: 3vh;
        float: right;
        padding: 0px 2vw;

        &:first-child {
            font-size: 3.5vh;
            float: left;
            padding: 0%;
        }
    }
}

@keyframes startDropAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}